Body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"] {
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
}
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4285F4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #357AE8;
}
a {
    text-decoration: none;
    color: #4285F4;
    margin-left: 20px;
}
a:hover {
    text-decoration: underline;
}